body {
    background-color: black;
    color: white;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: rgb(228, 10, 10);
    font-size: 30px;
}

h3{
    text-align: left;
    
    font-size: 50px;
    color: white;
}

p {
    font-size: 23px;
    margin-bottom: -2px;
}

ul {
    font-size: 23px;
    margin: 0 15px;
}

a {
    color: rgb(50, 129, 248);
    font-size: 20px;
}
ol{
    font-size: 20px;
}

.container {
    margin: 10 0;
    display: flex;
    gap: 1.5%;
}

.card {
    width: 20%;
    height: 20%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#botao{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

